.heading{
  font-size: 30px;
 margin-top: 10px;
 font-weight: 500px;
}
.table-container{
    margin-top: 50px;
}
.button{
    width: 100px;
    font-size: 17px;
    border-radius: 5px;
    border-width: 0px;
}
.view-button{
    background-color: green;
}
.table-heading{
    text-align: center;
    font-size: 25px;

}
.table-data{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}