<h2 class="heading">Employee List</h2>
<div class="table-container">
<table border="2" class="table table-striped">
    <thead>
        <tr class="table-heading">
            
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       
  <tr *ngFor="let employee of employees" class="table-data">
    
    <td>{{ employee.firstName }}</td>
    <td>{{ employee.lastName }}</td>
    <td>{{ employee.emailId }}</td>
    <td>
      <button (click)= " updateEmployee(employee.id)" class="btn btn-info button">Update</button>
      <button (click)= "deleteEmployee(employee.id)" class="btn btn-danger button" style="margin-left: 20px ;">Delete</button>
      <button (click)= "employeeDetails(employee.id)" class="btn btn-info button view-button" style="margin-left: 20px ;">View</button>
    </td>
    
  </tr>


    </tbody>
</table>
</div>