.list:hover{
     font-size: 20px;
    background-color:black;
    border-radius: 0%;
   
}
.main{
    margin-top: 30px;
    color: purple;
    font-weight: 500;
    text-decoration: underline;
    font-style: italic;
}
.nav-container{
    height: 9vh;
}
.footer-container{
 background-color: black;
 padding-top: 5px;
}